{% extends 'base.html' %} {% block content %}
<h1>Register</h1>

<form method="POST">
    {% csrf_token %}
    <p>Enter your first name</p><input type="text" name="first_name" value="First Name"><br>
    <p>Enter your last name</p><input type="text" name="last_name" value="Last Name"><br>
    <p>Enter your email</p><input type="text" name="username" value="Email"><br>
    <p>Enter your password</p>
    <li>
        <li>password should be at least 6 characters long and less than 20 characters</li><br>
        <li>password should contain upper case and lower case characters</li><br>
        <li>password should also contain special characters and numbers</li><br>
        <li>password should not match first name or last name</li><br>
    </li>
    </p><input type="password" name="password" value="Password"><br>
    <p>Confirm Password</p><input type="password" name="password2" value="Conform Password"><br><br>
    <input type="submit" name="submit" value="Submit"><br>
</form>
{% endblock %}